@mixin myContainer {
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
}
@mixin footer-Columns {
    display: flex;
    flex-direction: column;
}

//font styles

@mixin primary-Font-Styles {
    color: $primary-color;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@mixin secondary-Font-Styles {
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@mixin tertiary-Font-Styles {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}