body {
    background-color: $quaternary-color;
}
.container {
    @include myContainer;
}
header {

    .header-Rectangle {
        z-index: 1;
        width: 100%;
        height: 54px;
        background-color: $quaternary-color;
        display: flex;
        position: fixed;
        align-items: center
    }
    .navigation {
        display: flex;

        li {
            padding-right: 35px;
            color: $secondary-color;
            font-family: Roboto;
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

body > h1 {
    padding-top: 76px;
    padding-bottom: 27px;
    color: $secondary-color;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.head-Section1{
    display: flex;
    .section1 {
        .whole-Banner {
            .image-Stuff {
                display: flex;

                .img-Text {
                    display: flex;
                    position: absolute;
                    padding-top: 32px;
                    padding-left: 41px;
                    @include primary-Font-Styles;
                }
            }
            .banner-Rectangle {
                width: 362px;
                height: 171px;
                background-color: $primary-color;
                border-radius: 0px 0px 5px 5px;
                .rec-Text {
                    padding-left: 37px;
                    padding-top: 68px;
                    color: $tertiary-color;
                    @include secondary-Font-Styles;
                }
                .time-Details {
                    padding-left: 37px;
                    display: inline-flex;
                    padding-top: 14px;
                    align-items: center;
                    .time {
                        padding-left: 3px;
                        @include secondary-Font-Styles;
                        color: $tertiary-color;
                    }
                }

            }
        }
    }
}
.section2 {
    display: flex;
    .left-Section {
        display: flex;
        flex-direction: column;
        .big-Image-Text {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h2 {
            position: absolute;
            @include primary-Font-Styles;
            color: $primary-color;
        }
        img {
            margin-bottom: 40px;
        }
    }
    .right-Section {
        img {
            margin-bottom: 103px;
            margin-left: 45px;
        }
    }
}
.footer-Rectangle {
    height: 201px;
    width: 100%;
    background: #243043;
    display: flex;
    align-items: center;
    .footer-Section {
        display: flex;
        flex-direction: row;
        section {
            @include footer-Columns;
            margin-right: 80px;

            a {
                margin-bottom: 14px;
                color: $tertiary-color;
                @include tertiary-Font-Styles
            }
        }
        p {
            @include tertiary-Font-Styles;
            color: $primary-color;
            margin-left: 30px;
        }
        .logo {
            margin-left: 416px;
            margin-top: -70px;
        }
    }
    
}
